hr{
    border-top: 1px solid #fff !important;
}

.container{
    max-width: 82%;
}

.title .row a{
    font-size: 20px;
}
.title ul li{
    display: inline-block;
    margin-left: 30px;
}
.title ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    /*border-bottom: 2px dashed white;*/
}
.title ul li a:hover{
    box-shadow: #03e9f4 0px 0px 5px;
    border-radius: 5px;
    border-bottom: 3px solid white;
    padding: 15px;
    transition: 150ms;
}
.title p{
    font-size: 20px;
}

.products{
    padding: 8px;
}
.products hr{
    border-top: 1px solid #000 !important;
}
.ads img{
    width: 100px;
    margin-left: 50px;
    border-radius: 15px;
}
.ads img:hover{
    border: 1px solid black;
}
.products .card{
    color: black;
    margin: 15px;
    /*border: 2px solid #ffc107!important;*/
}
.products .card:hover{
    transform: scale(1.0785);
    border: 1px solid white;
    box-shadow: #03e9f4  0px 0px 30px;
    transition: 150ms;
}
.products .card img{
    width: 220px;
    height: 120px;
}
.products .row {
    display: flex;
    flex-wrap: wrap;
}
.products .row > div[class*='col-'] {
    display: flex;
}

.shopping-modal img{
    height: 50px;
    width: 80px;
}
.carousel{
    width: 99%;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.42);
    border: 1px solid white;
}


.msg_modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.msg_modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.msg_modal .modal-body {
    overflow-y: auto;
}





@media screen and (max-width: 1000px) {
    .products .card img{
        width: 500px;
        height: 150px;
    }
    .carousel{
        width: 100%;
    }
    .container{
        max-width: 100%;
    }
}