
hr{
    border-top: 1px solid #fff !important;
}
img:hover{
    border: 3px solid #17a2b8;
    box-shadow:0 0 12px #03e9f4;
    cursor: pointer;
    transition: 250ms;
}

.container img{
    max-width: 400px;
    max-height: 300px;
}
.show-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999999;
    display: none;
}